#equipment_grid {
    position: relative;
    box-sizing:content-box;
    padding: 20px;
    margin: 100px auto;
    text-align:left;

    width: 80%;
    max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 15px;
}

.equipment_cell {
    width: 100%;
    height: 320px;

    background-color: rgb(255, 255, 255);
    /*border: 3px solid rgb(204, 204, 204);*/

    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 50px;

    /*box-shadow: 0px 8px 16px rgba(0,0,0,0.5);*/

    cursor: pointer;

    -webkit-transition: border-top 0.15s;
    transition: border-top 0.1s;
}

.equipment_cell:hover > .equipment_cell_bottom {
    border-top: 5px solid rgb(54, 54, 54);
}

.equipment_cell_unavailable {
    width: 100%;
    height: 320px;

    background-color: rgb(255, 255, 255);

    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 50px;
}

.equipment_cell_top {
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equipment_image {
    position: relative;
    
    width: 90%;
    height: 100%;

    margin: auto;
    
    object-fit: cover;
}

.equipment_cell_bottom {
    width: 100%;
    height: 100%;
    bottom: 0px;

    border-top: 3px solid rgb(145, 145, 145);
    color: rgb(50,50,50);

    box-sizing: border-box;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;

    font-weight: 200;

    -webkit-transition: border-top 0.1s;
    transition: border-top 0.1s;
}

