:root {
    --makerspaceColor: #1d1d1b;
    --makerspaceFont: 'Open Sans', sans-serif;
    --headerHeight: 130px;
    --bodyColour1: rgb(255, 255, 255);
    --bodyColour2: rgb(250, 250, 250);
    --bodyBorderColor: #dfdfdf;
    --minCellWidth: 200px;
    --maxTableWidth: 1400px;
    --editButtonWidth: 50px;
}

body {
    padding: 0px;
    margin: 0px;
}

/* Loading */

#loadingPopup {
    position: absolute;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    border: none;
    padding: 0px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loadingImg {
    position: relative;
    display: inline-block;
    z-index:1000;
    width:10rem;
    height:10rem;
    margin: auto;
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

#loadingText {

    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    top: calc(50% + 120px);

    color: #ffffff;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--makerspaceFont);

    font-weight: 200;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}