:root {
    --makerspaceColor: #1d1d1b;
    --makerspaceFont: 'Open Sans', sans-serif;
    --headerHeight: 130px;
    --bodyColour1: rgb(255, 255, 255);
    --bodyColour2: rgb(250, 250, 250);
    --bodyBorderColor: #dfdfdf;
    --minCellWidth: 200px;
    --maxTableWidth: 1400px;
    --editButtonWidth: 50px;
}

.wrapper {
    display: block;
    text-align: center;
    overflow: auto;
}

/* Dashobard Grid */

#DG {
    position: relative;
    display: inline-block;
    margin: 0px 0px 100px 0px;

    width: auto;
    max-width: 80%;

    background-color: #646464;
    border: 2px solid var(--makerspaceColor);

    overflow-y: hidden;
    white-space:nowrap;

    transform:rotateX(180deg);
}

.scroll {
    overflow-x: scroll;
}

/*.scroll > .DG_container > .DG_header > .DG_header_cell {
    border-top: 1px solid #535353;
}*/

.DG_container {
    width: auto;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;

    transform:rotateX(180deg);
}

.DG_header {
    display: grid;

    width:auto;
    height:50px;

    background-color: #646464;
}

.DG_header_cell {
    display: block;
    width: 100%;
    height: 100%;

    background-color: #e0e0e0;
    color: #353535;
    border-right: 1px solid #535353;
    border-top: 1px solid var(--makerspaceColor);

    box-sizing:border-box;

    overflow: hidden;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--makerspaceFont);

    font-weight: 200;
}

.DG_edit_img {
    position: relative;
    margin: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.DG_header_cell:last-child {
    border-right: none;
}

.DG_body {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;

    width: auto;

    background-color: var(--bodyBorderColor);
}

.DG_body_row {
    display: grid;
    grid-template-columns: var(--gridLayout);

    width:auto;
    height:50px;

    background-color: var(--bodyColour1);
}

.DG_body_row:nth-child(even) {
    background-color: var(--bodyColour2);
}

.DG_body_cell {
    display: block;
    width: 100%;
    height: 100%;

    border-right: 1px solid var(--bodyBorderColor);

    overflow: hidden;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    

    box-sizing:border-box;

    text-decoration: none;
    font-size: 1rem;
    font-family: var(--makerspaceFont);

    font-weight: 200;
}

.DG_body_edit {
    display: block;
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;

    background-color: rgba(0,0,0,0);

    border: 0;
    border-right: 1px solid var(--bodyBorderColor);
    outline: none !important;

    overflow: hidden;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    

    box-sizing:border-box;
}

.DG_body_edit:hover {
    background-color: rgba(0,0,0,0.03);
}

.DG_body_cell_btn {

    width: 100%;
    height: 100%;

    border-right: 1px solid var(--bodyBorderColor);

    background-color: rgb(240,240,240);
    outline: none !important;

    box-sizing: border-box;

    text-decoration: none;
    font-size: 1rem;
    font-family: var(--makerspaceFont);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  

    font-weight: 200;
}

.DG_body_cell_btn:hover {
    background-color: rgba(0,0,0,0.07);
}

.DG_body_cell:last-child, .DG_body_cell:last-child {
    border-right: none;
}

/* Elements */

.title {
    display: block;
    width: 100%;
    height: 150px;

    color: var(--makerspaceColor);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    font-size: 3rem;
    font-family: var(--makerspaceFont);

    font-weight: 600;
}

/* Popup */

#P_wrapper {
    position:absolute;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    filter: alpha(opacity=0);
}

#P_back {
    position: absolute;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#P_panel {

    position: relative;
    z-index:1001;
    display: block;
    background-color: rgb(233, 233, 233);
    margin: auto;
    width:450px;
    height:auto;
    border: none;
    padding: 0px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#P_grid {

    display: grid;
    grid-template-columns: 1fr 2.5fr;
    font-family: var(--makerspaceFont);
    text-decoration: none;
}

#P_title {

    grid-column: 1/3;
    grid-row: 1;

    height:60px;
    padding: 10px 0px;

    color: #222222;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    font-size: 1.5rem;
    

    font-weight: 200;
}

.P_label {

    height:40px;
    padding: 0px 0px 0px 20px;

    text-align: right;
    text-decoration: none;
    font-size: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.P_input_wrap {

    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.P_input {

    height:25px;
    padding: 0px 10px;
    margin: auto 20px;

    text-align: left;
    text-decoration: none;
    font-size: 1em;
}

#P_update_wrap {

    grid-column: 1/3;

    height:90px;
    padding: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#P_update {
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: block;
    width:200px;
    height:50px;
    border: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Utilities */

.NS { /* Non-Selectable */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.P {cursor: pointer;}